body {
  background-color: #000;
  color: #fff;
}

.webGLcontainer canvas,
.info,
.controller,
.keys,
.webGLcontainer,
.keyboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.keyboard {
  z-index: -1;
}

.controller {
  z-index: 1000;
}
